* {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
}

#mainContainer {
  width: 90%;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  width: 235px;
  height: 110px;
  position: relative;
  z-index: 1;
}

#header #hero {
  width: 100%;
  position: absolute;
  top: 0px;
}

#header #heroShadow {
  width: 100%;
  position: absolute;
  top: 110px;
}

#header #heroBox {
  width: 100%;
  position: absolute;
  top: 110px;
  display: none;
}

#container {
  width: 90%;
  min-width: 250px;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: visible;
}

#main {
  width: 90%;
  padding-top: 110px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #pageTitle {
  font-size: 3em;
  color: #1d1e35;
}

#main #faq {
  width: 100%;
  color: #1d1e35;
}

#main #faq #faqList {
  list-style: none;
}

#main #faq #faqList li {
  margin-bottom: 15px;
  border-bottom: 1px solid #e7e7e9;
}

#main #faq #faqList li .justQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

#main #faq #faqList li .justQuestion .question {
  font-size: 14px;
  cursor: pointer;
  color: #444;
}

#main #faq #faqList li .justQuestion .qButton {
  color: #f47c57;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

#main #faq #faqList li .justQuestion .qButton:hover {
  cursor: pointer;
  font-weight: 700;
}

#main #faq #faqList li .answer {
  color: #999;
  margin-bottom: 15px;
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

@media (min-width: 700px) {
  #mainContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #header {
    width: 45%;
    height: auto;
    position: absolute;
    left: -8px;
    z-index: 1;
  }
  #header #hero {
    width: 100%;
    position: static;
    z-index: 2;
  }
  #header #hero > img {
    width: 100%;
    content: url(../images/illustration-woman-online-desktop.svg);
    background-size: cover;
  }
  #header #hero #heroShadow {
    width: 100%;
    content: url(../images/bg-pattern-desktop.svg);
    position: absolute;
    left: 0px;
    top: 0px;
  }
  #header #hero #heroBox {
    width: 50%;
    content: url(../images/illustration-box-desktop.svg);
    position: absolute;
    left: -12%;
    top: 30%;
    display: initial;
    z-index: 4;
  }
  #container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #container #main {
    width: 40%;
    padding-top: 40px;
    margin-right: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */